* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --clr-bg-primary: #1b212c;
  --clr-bg: #2d3848;
  --clr-highlight: #81e4d9;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-size: 2rem;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  background: var(--clr-bg-primary);
  color: white;
  min-height: 100vh;
  max-width: 80rem;
  padding: 1em;
}

a {
  color: white;
}

pre code {
  display: block;
  white-space: pre-wrap;
  background: var(--clr-bg);
  padding: 1em;
  border-radius: 10px;
  color: white;
}

h2 {
  color: var(--clr-highlight);
  font-size: 1.6rem;
}
