.container {
  margin: 0 auto;
  max-width: 70ch;
  padding: 0 2rem;
}

.chords {
  margin-top: 1em;
  padding: 1em;
  border-radius: 10px;
  background: var(--clr-bg);
  color: white;
}

.chordHeading {
  display: block;
  color: var(--clr-highlight);
}
